.item {
  flex-basis: calc(100% / 5);
  border: 1px solid rgb(231, 230, 230);
  border-right: none;
}

.label {
  display: block;
  font-size: 12px;
}

.percentage {
  font-size: 24px;
  font-weight: 500;
}
